body {
    background: #fbeded
  }

  img {
    max-width: 30%;
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#song {
    align: center;
    margin-left: auto;
    margin-right: auto;
}

#skip {
    letter-spacing: -3.75px;
}

#name {
    color: hotpink;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
}

.topnav {
    color: hotpink;
}