body {
    background: #fbeded;
  }

  img {
    max-width: 25%;
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#song {
    align: center;
    margin-left: auto;
    margin-right: auto;
}

#skip {
    letter-spacing: -3.75px;
}

#name {
    color: hotpink;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
}

#search {
    color: hotpink;
    font-family: 'Courier New', Courier, monospace;
    margin: 500;
    padding: 500;
}

#cursor {
    position: absolute;
    margin-top: 10px;
    margin-right: -40px;
    margin-bottom: 10px;
    margin-left: -40px;
}